.navbar {
  background-color: black;
}
.navText{
  color: black;
}

.slideshow{
  height:200px;
}
.background{
  background-image: url("../images/download.jpeg");
  background-size: cover;
}

.overview{
  height:500px;
}

.column{
  text-align:center;
}

.cardImage{
  height:auto;
  width:auto;
  text-align: center;
}

.card{
  text-align: center;

}
