.navbar {
  background-color: black;
}
.navText{
  color: black;
}

.slideshow{
  height:200px;
}
.background{
  background-image: url("../images/profile.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  color: white;
  padding-top: 400px;
  padding-bottom:400px;
  margin-right: 0;
}

.overview{
  height:500px;
}

.column{
  text-align:center;
}

.cardImage{
  height:auto;
  width:auto;
  text-align: center;
}

.card{
  text-align: center;

}
